<h1>Angular HTTP Example</h1>
<hr>

<p>
    We have already heard about string interpolation which is a technique to render a javascript string in html by using {{"{{ someText }}"}}.
    <br>
    This is pretty cool but we can even make a lot of string transformations inside the string interpolation by using pipes |
    <br>
    We can build custom pipes like a rot13 encoding pipe which takes a lowercase string and returns it returns an encrypted string.
    <br>
    Luckily we can append as many pipes as we want, therefore we can use the lowercase pipe before the rot13 pipe like that: {{"{{ secret | lowercase | rot13 }}"}}
</p>

<h2>Examples:</h2>

{{text}}

<h3>Lowercase</h3>
{{text | lowercase}}

<h3>Uppercase</h3>
{{text | uppercase}}

<h3>Euro</h3>
{{money | currency:"EUR"}}

<h3>Dollar</h3>
{{money | currency:"USD"}}

<h3>Date</h3>
Next christmas will be on {{christmas | date:"dd.MM.yyyy"}}

<h3>Date Uppercase</h3>
Next christmas will be on {{christmas | date | uppercase}}

<h3>Rot13 Encoded</h3>
{{secret | lowercase | rot13 }}

<h3>Rot13 Decoded</h3>
{{secret | lowercase | rot13 | rot13 }}